<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

     <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->

    <!-- Queries section needed for Android 11+ to handle mailto and other URLs -->
    <queries>
        <!-- For mailto: links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        
        <!-- For https: links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        
        <!-- For tel: links -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Storage permissions for different Android versions -->
    <!-- Pre-Android 13 read; superseded by READ_MEDIA_* on API 33+ -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Pre-Android 10 write -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    
    <!-- Android 13+ media permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name="${applicationName}"
        android:label="CircuitVerse"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/launcher_icon">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specify that the launch screen should continue being displayed -->
            <!-- until Flutter renders its first frame. -->
            <!-- Theme to apply as soon as Flutter begins rendering frames -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Linking -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- Simulator Edit -->
                <data android:scheme="http" android:host="circuitverse.org" android:pathPrefix="/simulator/edit/" />
                <data android:scheme="https" android:host="circuitverse.org" android:pathPrefix="/simulator/edit/" />
                <data android:scheme="http" android:host="www.circuitverse.org" android:pathPrefix="/simulator/edit/" />
                <data android:scheme="https" android:host="www.circuitverse.org" android:pathPrefix="/simulator/edit/" />

                <!-- Simulator Embed -->
                <data android:scheme="http" android:host="circuitverse.org" android:pathPrefix="/simulator/embed/" />
                <data android:scheme="https" android:host="circuitverse.org" android:pathPrefix="/simulator/embed/" />
                <data android:scheme="http" android:host="www.circuitverse.org" android:pathPrefix="/simulator/embed/" />
                <data android:scheme="https" android:host="www.circuitverse.org" android:pathPrefix="/simulator/embed/" />

                <!-- User Project -->
                <data android:scheme="http" android:host="circuitverse.org" android:pathPattern="/users/.*/projects/.*" />
                <data android:scheme="https" android:host="circuitverse.org" android:pathPattern="/users/.*/projects/.*" />
                <data android:scheme="http" android:host="www.circuitverse.org" android:pathPattern="/users/.*/projects/.*" />
                <data android:scheme="https" android:host="www.circuitverse.org" android:pathPattern="/users/.*/projects/.*" />
            </intent-filter>
        </activity>
        
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->

        <!-- Flutter embedding meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Github authentication configuration -->
        <activity
            android:name="com.linusu.flutter_web_auth.CallbackActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="circuitverse" />
            </intent-filter>
        </activity>

    </application>
</manifest>