name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 60
    steps:
<<<<<<< HEAD
      # Setup Java environment in order to build the Android app.
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v1
        with:
          java-version: "17.x"
=======
      - name: Checkout Repository
        uses: actions/checkout@v4
>>>>>>> 09e1b4657d06617b445dd57fa840c21eedb313a0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Clean and Get Dependencies
        run: |
          flutter clean
          flutter pub get

      - name: Build Runner (Generate Dart Files)
        run: flutter packages pub run build_runner build --delete-conflicting-outputs

      - name: Format Check (Exclude .mocks files)
        run: dart format --set-exit-if-changed $(git ls-files '*.dart' ':!:*.mocks.dart')

      - name: Analyze Code
        run: flutter analyze

      - name: Run Tests with Coverage
        run: flutter test --coverage

      - name: Upload Coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.platform }}
          parallel: true

      - name: Cache Gradle Wrapper and Gradle Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            build/app/outputs/apk/release/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build APK (Android)
        run: flutter build apk

      - name: Build iOS (MacOS Only)
        if: ${{ matrix.platform == 'macos-latest' }}
        run: |
          rm -f ios/Podfile.lock
          flutter build ios --release --no-codesign

      - name: Upload APK as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk-${{ matrix.platform }}-${{ github.run_id }}
          path: build/app/outputs/apk/release/app-release.apk
          if-no-files-found: error

  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Finalize Coveralls Reporting
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
