name: Sync crowdin translation

on:
  push:
    paths: # run action automatically when app_en.arb file is changed
      - 'lib/l10n/arb/app_en.arb'
    branches: [ main ]
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch: 

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: crowdin action
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: true
          download_translations: true
          localization_branch_name: l10n_translations
          create_pull_request: true
          skip_untranslated_strings: true
          pull_request_title: 'New Translations'
          pull_request_body: 'New translations via Crowdin GH Action.'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
